/*
 Author : Nick Rance

 - Credits
 - 	Main CSS from Gumby framework
 - 	Some CSS from Twitter Bootstrap - http://twitter.github.io/bootstrap/

*/


/* Code Highlighting */
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}





/* Table
--------------------------------------------------------- */

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}


/* Navigation
--------------------------------------------------------- */
#banner strong {display:block;}
#banner h1 { font-size:3.25rem }

.no-touch .navbar ul li.active > a {
  
  background: #868d92;

}
/* Posts
--------------------------------------------------------- */

#post-list { margin-left:0; }
#post-list > li {list-style:none;  border-bottom: 2px solid #ccc;  margin-bottom: 20px;  padding-bottom: 15px;}

.tag-row {margin-top:20px;}

address { font-size:14px; margin-bottom:10px;}

/* Typography
--------------------------------------------------------- */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #3498DB;
}

a, a:hover { color: #3498DB; }
a:focus { color: #34495E; }

.btn a:hover, 
.btn a:focus {color:#eee; }

.label:hover,
.label:focus {color:#eee; }

/* Footer
--------------------------------------------------------- */
.bg { background:#eee; margin-top:35px; padding-top:25px; border-top:5px solid #3498DB; }



/* Responsive fixes
--------------------------------------------------------- */
@media only screen and (max-width: 600px) {
  #banner h1 a {font-size:22px!important; line-height:24px;}
}



/* Custom code
--------------------------------------------------------- */

a.fn-backref, a.fn-backref:hover {color: #3498DB;}
a.fn-backref:focus { color: #34495E; }

#banner { background: #eee; }

.btn.bitbucket, .skiplink.bitbucket {
  background: #2D5F9C;
  border: 1px solid #4796E6;
}
.btn.bitbucket:hover, .skiplink.bitbucket:hover {
  background: #2D5F9C;
}
.btn.bitbucket:active, .skiplink.bitbucket:active {
  background: #3572B0;
}
.btn.pretty.bitbucket, .pretty .bitbucket.btn, .pretty .bitbucket.skiplink, .pretty .bitbucket.btn:hover, .pretty .bitbucket.skiplink:hover, .bitbucket.skiplink.pretty:hover, .pretty .bitbucket.btn:active, .pretty .bitbucket.skiplink:active, .bitbucket.skiplink.pretty:active, .skiplink.pretty.bitbucket {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4796E6), color-stop(100%, #3773AF));
  background-image: -webkit-linear-gradient(#4796E6, #3773AF);
  background-image: -moz-linear-gradient(#4796E6, #3773AF);
  background-image: -o-linear-gradient(#4796E6, #3773AF);
  background-image: linear-gradient(#4796E6, #3773AF);
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.1);
  border: 1px solid #0074a1;
}
.pretty .bitbucket.btn:hover, .pretty .bitbucket.skiplink:hover, .bitbucket.btn.pretty:hover, .bitbucket.skiplink.pretty:hover, .pretty .bitbucket.btn:hover:active, .pretty .bitbucket.skiplink:hover:active, .skiplink.pretty.bitbucket:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4796E6), color-stop(100%, #3773AF));
  background-image: -webkit-linear-gradient(#4796E6, #3773AF);
  background-image: -moz-linear-gradient(#4796E6, #3773AF);
  background-image: -o-linear-gradient(#4796E6, #3773AF);
  background-image: linear-gradient(#4796E6, #3773AF);
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.1);
  border: 1px solid #0497d0;
}
.pretty .bitbucket.btn:active, .pretty .bitbucket.skiplink:active, .pretty .bitbucket.btn:active:hover, .pretty .bitbucket.skiplink:active:hover, .bitbucket.btn.pretty:active, .bitbucket.skiplink.pretty:active, .skiplink.pretty.bitbucket:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4796E6), color-stop(100%, #3773AF));
  background-image: -webkit-linear-gradient(#4796E6, #3773AF);
  background-image: -moz-linear-gradient(#4796E6, #3773AF);
  background-image: -o-linear-gradient(#4796E6, #3773AF);
  background-image: linear-gradient(#4796E6, #3773AF);
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.1);
}
.btn.pretty.bitbucket a, .pretty .bitbucket.btn a, .pretty .bitbucket.skiplink a, .pretty .bitbucket.btn:hover a, .pretty .bitbucket.skiplink:hover a, .bitbucket.skiplink.pretty:hover a, .pretty .bitbucket.btn:active a, .pretty .bitbucket.skiplink:active a, .bitbucket.skiplink.pretty:active a, .btn.pretty.bitbucket input, .pretty .bitbucket.btn input, .pretty .bitbucket.skiplink input, .pretty .bitbucket.btn:hover input, .pretty .bitbucket.skiplink:hover input, .bitbucket.skiplink.pretty:hover input, .pretty .bitbucket.btn:active input, .pretty .bitbucket.skiplink:active input, .bitbucket.skiplink.pretty:active input, .btn.pretty.bitbucket button, .pretty .bitbucket.btn button, .pretty .bitbucket.skiplink button, .pretty .bitbucket.btn:hover button, .pretty .bitbucket.skiplink:hover button, .bitbucket.skiplink.pretty:hover button, .pretty .bitbucket.btn:active button, .pretty .bitbucket.skiplink:active button, .bitbucket.skiplink.pretty:active button, .skiplink.pretty.bitbucket a, .skiplink.pretty.bitbucket input, .skiplink.pretty.bitbucket button {
  text-shadow: 0 1px 1px #295989;
}

.btn.mozillians, .skiplink.mozillians {
  background: #277AC1;
  border: 1px solid #4796E6;
}
.btn.mozillians:hover, .skiplink.mozillians:hover {
  background: #277AC1;
}
.btn.mozillians:active, .skiplink.mozillians:active {
  background: #277AC1;
}
.btn.pretty.mozillians, .pretty .mozillians.btn, .pretty .mozillians.skiplink, .pretty .mozillians.btn:hover, .pretty .mozillians.skiplink:hover, .mozillians.skiplink.pretty:hover, .pretty .mozillians.btn:active, .pretty .mozillians.skiplink:active, .mozillians.skiplink.pretty:active, .skiplink.pretty.mozillians {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43A6E2), color-stop(100%, #277AC1));
  background-image: -webkit-linear-gradient(#43A6E2, #277AC1);
  background-image: -moz-linear-gradient(#43A6E2, #277AC1);
  background-image: -o-linear-gradient(#43A6E2, #277AC1);
  background-image: linear-gradient(#43A6E2, #277AC1);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #0074a1;
}
.pretty .mozillians.btn:hover, .pretty .mozillians.skiplink:hover, .mozillians.btn.pretty:hover, .mozillians.skiplink.pretty:hover, .pretty .mozillians.btn:hover:active, .pretty .mozillians.skiplink:hover:active, .skiplink.pretty.mozillians:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43A6E2), color-stop(100%, #277AC1));
  background-image: -webkit-linear-gradient(#43A6E2, #277AC1);
  background-image: -moz-linear-gradient(#43A6E2, #277AC1);
  background-image: -o-linear-gradient(#43A6E2, #277AC1);
  background-image: linear-gradient(#43A6E2, #277AC1);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #0497d0;
}
.pretty .mozillians.btn:active, .pretty .mozillians.skiplink:active, .pretty .mozillians.btn:active:hover, .pretty .mozillians.skiplink:active:hover, .mozillians.btn.pretty:active, .mozillians.skiplink.pretty:active, .skiplink.pretty.mozillians:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43A6E2), color-stop(100%, #277AC1));
  background-image: -webkit-linear-gradient(#43A6E2, #277AC1);
  background-image: -moz-linear-gradient(#43A6E2, #277AC1);
  background-image: -o-linear-gradient(#43A6E2, #277AC1);
  background-image: linear-gradient(#43A6E2, #277AC1);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.btn.pretty.mozillians a, .pretty .mozillians.btn a, .pretty .mozillians.skiplink a, .pretty .mozillians.btn:hover a, .pretty .mozillians.skiplink:hover a, .mozillians.skiplink.pretty:hover a, .pretty .mozillians.btn:active a, .pretty .mozillians.skiplink:active a, .mozillians.skiplink.pretty:active a, .btn.pretty.mozillians input, .pretty .mozillians.btn input, .pretty .mozillians.skiplink input, .pretty .mozillians.btn:hover input, .pretty .mozillians.skiplink:hover input, .mozillians.skiplink.pretty:hover input, .pretty .mozillians.btn:active input, .pretty .mozillians.skiplink:active input, .mozillians.skiplink.pretty:active input, .btn.pretty.mozillians button, .pretty .mozillians.btn button, .pretty .mozillians.skiplink button, .pretty .mozillians.btn:hover button, .pretty .mozillians.skiplink:hover button, .mozillians.skiplink.pretty:hover button, .pretty .mozillians.btn:active button, .pretty .mozillians.skiplink:active button, .mozillians.skiplink.pretty:active button, .skiplink.pretty.mozillians a, .skiplink.pretty.mozillians input, .skiplink.pretty.mozillians button {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.entry-content ul {
  margin-left: 25px;
  list-style: disc;
}

.entry-content tt {
  font-family: monospace;
  font-size: 85%;
}

.entry-content table {
  border: 1px solid;
}

.entry-content th, .entry-content td {
  border: 1px solid;
  padding: 2px;
}
