# For the extract_toc and share_post extensions.
beautifulsoup4==4.9.1
invoke==1.4.1
feedparser==5.2.1
ghp_import==1.0.0

# Need to install Markdown explicitly so articles written in Markdown get rendered by Pelican.
Markdown==3.2.2

# Pelican itself.
pelican==4.5.0
Pillow==8.1.1
typogrify==2.0.7
webassets==2.0

# For embedding YouTube videos.
pelican-youtube==0.2.1
