# For the extract_toc and share_post extensions.
beautifulsoup4==4.8.2
invoke==1.4.0
feedparser==5.2.1
ghp_import==0.5.5

# Need to install Markdown explicitly so articles written in Markdown get rendered by Pelican.
Markdown==3.1.1

# Pelican itself.
pelican==4.2.0
Pillow==7.0.0
typogrify==2.0.7
webassets==2.0

# For embedding YouTube videos.
pelican-youtube==0.2.1
