# For the extract_toc and share_post extensions.
beautifulsoup4==4.12.3
invoke==2.2.0
ghp_import==2.1.0

# Need to install Markdown explicitly so articles written in Markdown get rendered by Pelican.
Markdown==3.5.2

# Pelican itself.
pelican==4.9.1
Pillow==10.2.0
typogrify==2.0.7

# For embedding YouTube videos.
pelican-youtube==0.2.1

# Generates image thumbnails.
pelican-thumbnailer==1.0.2

# Generates links to share a post.
pelican-share-post==1.1.0
