{% extends "base.html" %}

{% block title %}Archives{% endblock %}

{% block meta %}
<meta property="og:title" content="Archives" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Archives</h1>

      {# Group by year. #}
      {% for year in dates|groupby('date.year')|reverse %}
        <h2>{{ year.grouper }}</h2>

        <ul>
        {# List the articles (in reverse order). #}
        {% for article in year.list %}
          <li>
            <a href="/{{ article.url }}">{{ article.title }}</a>
            <span class="text-secondary font-weight-light font-italic">{{ article.date|strftime('%B %-d, %Y') }}</span>
          </li>
        {% endfor %}
        </ul>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
