{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Archives</h1>

      {# Group by year. #}
      {% for year in dates|groupby('date.year')|reverse %}
        <h2>{{ year.grouper }}</h2>

        {# Group by month. #}
        {% for month in year.list|groupby('date.month')|sort(reverse=True) %}
          {# List the articles in this month, ordered by day. #}
          {% for article in month.list %}
          {# Display the month name! #}
          {% if loop.first %}
          <h3>{{ article.date.strftime("%B") }}</h3>
          <ul>
          {% endif %}
            <li><a href="/{{ article.url }}">{{ article.title }}</a></li>
          {% endfor %}
          </ul>

        {% endfor %}
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
