<footer class="post-info">
    <abbr class="published" title="{{ article.date.isoformat() }}">
        Published: {{ article.locale_date }}
    </abbr>
    {% if article.modified %}
    <br />
    <abbr class="modified" title="{{ article.modified.isoformat() }}">
        Updated: {{ article.locale_modified }}
    </abbr>
    {% endif %}

    {% if article.authors %}
    <address class="vcard author">
        By {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </address>
    {% endif %}

    {% if DISPLAY_CATEGORY_ON_ARTICLE != False %}
    <div>In <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>.</div>
    {% endif %}

    {% if article.tags %}
    <div>
        tags: {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
        {% endfor %}
    </div>
    {% endif %}

    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}

    {% if article.share_post and article.status != 'draft' %}
    <div id="post-share-links" class="social">
        share:
        <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter">Twitter</a>
        <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook">Facebook</a>
        <a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus">Google+</a>
        <a href="{{article.share_post['email']}}" target="_blank" title="Share via Email">Email</a>
    </div>
    {% endif %}
</footer><!-- /.post-info -->
