{% extends "base.html" %}

{% block title %}{{ article.title|striptags }}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ article.title|striptags }}" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:description" content="{{ article.summary|striptags }}" />
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ article.date.isoformat() }}" />
{% if article.modified %}
<meta property="article:modified_time" content="{{ article.modified.isoformat() }}" />
{% endif %}
<meta property="article:author" content="{{ article.author }}" />
{% for tag in article.tags|sort %}
<meta property="article:tag" content="{{ tag }}" />
{% endfor %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-2 mb-2">
      {# Article title. #}
      <h1>
        <a href="/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
      </h1>

      <div class="row">
        <div class="col-sm">
          {# Publish date. #}
          <span class="text-secondary font-weight-light font-italic">Published on {{ article.locale_date }}</span>

          {# Article tags. #}
          {% if article.tags %}
          <br>
          <span class="text-secondary font-weight-light font-italic">
            Tags: {% for tag in article.tags|sort %}
              <a href="/{{ tag.url }}">{{ tag|escape }}</a>{% if loop.nextitem %},{% endif %}
            {% endfor %}
          </span>
          {% endif %}
        </div>

        <div class="col-sm text-right">
          {# Share links. #}
          {% if article.share_post and article.status != 'draft' %}
          <a href="{{ article.share_post['mastodon'] }}" target="_blank" class="ml-1 mr-1" title="Share on Mastodon">
            <span class="bi-mastodon"></span>
          </a>
          <a href="{{ article.share_post['twitter'] }}" target="_blank" class="ml-1 mr-1" title="Share on Twitter">
            <span class="bi-twitter"></span>
          </a>
          <a href="{{ article.share_post['reddit'] }}" target="_blank" class="ml-1 mr-1" title="Share on Reddit">
            <span class="bi-reddit"></span>
          </a>
          <a href="{{ article.share_post['facebook'] }}" target="_blank" class="ml-1 mr-1" title="Share on Facebook">
            <span class="bi-facebook"></span>
          </a>
          <a href="{{ article.share_post['linkedin'] }}" target="_blank" class="ml-1 mr-1" title="Share on LinkedIn">
            <span class="bi-linkedin"></span>
          </a>
          <a href="{{ article.share_post['email'] }}" target="_blank" class="ml-1 mr-1" title="Share via Email">
            <span class="bi-envelope"></span>
          </a>
          {% endif %}
        </div>
      </div>

      <hr>

      <div>
        {# Table of contents. #}
        {% if article.toc %}
        <div class="border border-info bg-light rounded float-right p-2 ml-2 mb-2">
          {{ article.toc }}
        </div>
        {% endif %}

        {# Article contents. #}
        {{ article.content }}
      </div>

      {# Article comments. #}
      {% include 'disqus_comments.html' %}
    </div>
  </div>
</div>
{% endblock %}
