<div class="card ml-2 mb-2">
  <div class="card-body">
    <p class="card-text">
      {% if article.authors %}
        By {% for author in article.authors %}
          <a href="/{{ author.url }}">{{ author }}</a>
        {% endfor %}
        <br>
      {% endif %}

      Published: {{ article.locale_date }}
      <br>

      {% if article.tags %}
      tags: {% for tag in article.tags|sort %}
        <a href="/{{ tag.url }}">{{ tag|escape }}</a>
      {% endfor %}
      {% endif %}
    </p>
  </div>
</div>
