{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}

{% if article.toc %}
<section id="toc" class="left">
    <h2>table of contents</h2>
    {{ article.toc }}
</section>
{% endif %}

<section id="content" class="body">
  <article>
    <header>
        <h1 class="entry-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
               title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
        {% include 'twitter.html' %}
    </header>

    <div class="entry-content">
        {% include 'article_infos.html' %}
        {{ article.content }}
    </div><!-- /.entry-content -->

    {% if article.comments %}
    <div class="comments">
        <h2>{{ article.comments_count }} Comments:</h2>
        {% for comment in article.comments recursive %}
        <ul id="comments-list">
            <li id="comment-{{ comment.id }}">
                <abbr class="published" title="{{ comment.date.isoformat() }}">
                    Commented: <a href="{{ SITEURL }}/{{ article.url }}#comment-{{ comment.id }}"
                                  rel="bookmark" title="Permalink to this comment">{{ comment.locale_date }}</a>
                </abbr>

                <address class="vcard author">
                    By {% if comment.website %}<a class="url fn" href="{{ comment.website }}">{% endif %}
                        {{ comment.author }}
                    {% if comment.website %}</a>{% endif %}
                </address>

                {{ comment.content }}
                {% if comment.replies %}
                    {{ loop(comment.replies) }}
                {% endif %}
            </li>
        </ul>
        {% endfor %}
    </div>
    {% elif DISQUS_SITENAME and SITEURL and article.status != "draft" %}
    <div class="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ DISQUS_SITENAME }}';
            var disqus_identifier = '{{ article.url }}';
            var disqus_url = '{{ SITEURL }}/{{ article.url }}';
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
    {% endif %}

  </article>
</section>
{% endblock %}
