{% extends "base.html" %}

{% block meta %}
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:type" content="website" />
{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <a href="/{{ article.url }}">{{ article.title }}</a>
      </h1>

      {# Publish date. #}
      <i>{{ article.locale_date }}</i>

      {{ article.summary }}

      {% if DISQUS_SITENAME %}
      <div class="float-right">
        <a href="/{{ article.url }}#disqus_thread">comments</a>
      </div>
      {% endif %}

      <a href="/{{ article.url }}">read more &rarr;</a>

      {% if not loop.last %}
      <hr>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}

{% if articles_page.has_other_pages() %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% for page_title, page_url, linkify in articles_page|paginate %}
          <li class="page-item{% if not linkify %} disabled{% endif %}">
            <a class="page-link" href="/{{ page_url }}" >{{ page_title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}

{% block extra_scripts %}
{% if DISQUS_SITENAME %}
<script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
{% endif %}
{% endblock %}
