<div class="three columns">

{% if article.toc %}
    <nav class="affix">
    {{ article.toc }}
    </nav>
{% endif %}

{% if DISPLAY_PAGES_ON_MENU %}
 <h4>Pages</h4>
{% endif %}
 <ul>
  {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in PAGES %}
      <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
  {% else %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
    {% endif %}
  {% endif %}
  </ul>

{% if SOCIAL %}
<nav class="widget">
  <h4>Social</h4>
  <ul>
  {% for name, url in SOCIAL %}
    <li><a href="{{ url|e }}">{{ name }}</a></li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

{% if FEED_ALL_ATOM or FEED_ALL_RSS or FEED_ATOM or FEED_RSS %}
<h4><i class="icon-rss"></i>Subscribe</h4>
<ul>
  {% if FEED_ALL_ATOM %}
  <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Full Atom Feed</a></li>
  {% endif %}
  {% if FEED_ALL_RSS %}
  <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">Full RSS Feed</a></li>
  {% endif %}
  {% if FEED_ATOM %}
  <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}">Atom Feed</a></li>
  {% endif %}
  {% if FEED_RSS %}
  <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}">RSS Feed</a></li>
  {% endif %}
</ul>
{% endif %}

</div>
