/* Make footnotes superscript. */
.footnote-reference, .fn-backref {
    vertical-align: super;
    font-size: 80%;
}

/* Don't actually show the bullets in the table of contents. */
.toc ul {
    list-style: none;
    padding-left: 1em !important;
    margin-bottom: 0px;
}

/* Indent code blocks. */
.highlight {
    margin-left: 40px;
    margin-right: 40px;
}

/* Give special formatting to blockquotes. */
blockquote {
    margin-left: 40px;
    margin-right: 40px;
    font-style: italic;
}
blockquote em {
    font-style: normal;
}

/* Indent the "Note" lins. */
div.admonition {
    margin-left: 40px;
    margin-right: 40px;
}
/* Display the "Note" on the same line as the content. */
div.admonition p.first, div.admonition p.first + p {
    display: inline;
}
/* Add a : after "Note". */
p.admonition-title::after {
    content: ":";
}
